* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;


}

body {
    position: relative;
    background-color: #217dc8;
}

header {
    background-color: #217dc8;
    height: 100vh;
    margin: 0;


}

.image {
    display: flex;
    justify-content: center;
    margin: 20px;
    filter: drop-shadow(-5px 5px 15px rgba(0, 0, 0, 0.7));
}

.contact {
    display: flex;
    justify-content: flex-end;
    margin: 0px 5px;
    position: fixed;
    left: 800px;
}

button {
    padding: 5px;
    border: solid 1px yellow;
    border-radius: 100px;
}

.insta,
.face,
.tiktok,
.spoty,
.twitter {
    cursor: pointer;
    background-color: yellow;
    border-radius: 100%;
    padding: 0px 8px;
    border: 1px solid yellow;
    margin: 5px 20px;
}

.cont-main {
    position: fixed;
    top: 500px;

}


ul {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 70px;



}

.inicio,
.shows,
.bio,
.video,
.discos,
.audio {
    margin: 0 20px;
    cursor: pointer;
    background-color: #217dc800;
    color: yellow;
    font-size: 20px;
    border: none;
    list-style: none;


}

.cont-inicio,
h1 {
    font-size: 50px;
    margin: 5px;
}

.cont-inicio {
    color: white;
    width: 600px;
    text-align: center;
    margin: auto;
}